{% extends "students/layout/base.html" %}

{% block title %}Home - Student App{% endblock %}

{% block content %}
<div class="text-center mt-5">
    <h1 class="display-4">Welcome to the Student Management System</h1>
    <p class="lead">Easily manage student records </p>
    <a href="{% url 'student_list' %}" class="btn btn-primary btn-lg mt-3">
        View Students
    </a>
    <a href="{% url 'student_create' %}" class="btn btn-success btn-lg mt-3">
        Add New Student
    </a>
</div>
{% endblock %}
